a:focus {
    color: #666;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.8;
}

p:last-child {
    margin-bottom: 0;
}

h3 {
    font-size: 1.6rem;
}

body {
    color: #000;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    overflow-x: hidden;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.margin-b-40 {
    margin-bottom: 40px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.pt-31 {
    padding-top: 1.1rem!important;
}

.pb-31 {
    padding-bottom: 1.1rem!important;
}

.tm-welcome-img {
    width: 100%;
}

.tm-bg-light-gray {
    background-color: #F2F2F2;
}

.tm-blue-text {
    color: #0966CC;
}

.tm-black-text {
    color: #000;
}

.tm-box-pad {
    padding: 45px 40px;
}

.tm-bordered-box {
    border: 1px solid #993366;
}

.tm-address-box {
    padding: 35px 30px 10px;
}

.tm-sidebar {
    float: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.tm-body {
    margin-top: 20px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.tm-main-nav {
    background-color: #EEEEEE;
    font-size: 1.4rem;
}

.tm-main-nav-ul {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tm-nav-item {
    list-style: none;
    margin-bottom: 15px;
    width: 100%;
}

.tm-nav-item-link {
    padding: 10px;
    width: 100%;
}

.tm-nav-item-link:focus {
    text-decoration: none;
}

.tm-orange-text {
    color: #CC6733;
}

.tm-button,
.tm-button:focus {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0;
    color: #000;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tm-button:hover,
.tm-button.active {
    background-color: #fff;
    border: 1px solid #CC6733;
    color: #CC6733;
    text-decoration: none;
}

.tm-button-normal {
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    padding: 15px 50px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tm-button-normal:focus {
    outline: none;
}

.tm-bg-orange {
    background-color: #CC6733;
    color: white;
}

.tm-button-rounded {
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.tm-button-orange {
    background-color: #CC6733;
}

.tm-button-orange:hover,
.tm-button-orange:focus {
    background-color: #e68d5f;
}

.tm-bg-pink {
    background-color: #CC6690;
}

.tm-button-pink {
    background-color: #CC6698;
}

.tm-button-pink:focus,
.tm-button-pink:hover {
    background-color: #ff84c0;
}

.tm-button-green {
    background-color: #349999;
}

.tm-button-green:focus,
.tm-button-green:hover {
    background-color: #43c7c7;
}

.tm-bg-green {
    background-color: #349999;
}

.tm-bg-red {
    background-color: #CB6666;
}

.tm-button-red {
    background-color: #CB6666;
}

.tm-button-red:focus,
.tm-button-red:hover {
    background-color: #f37373;
}

.tm-bg-gray {
    background-color: #666666;
}

.tm-button-no-border {
    border: none;
}

.tm-button-gray {
    background-color: #666666;
    color: white;
    border: none;
    padding: 12px 40px;
}

.tm-button-gray:hover {
    background-color: #999898;
    border: none;
    color: white;
}

.tm-button-timeline {
    padding-left: 35px;
    padding-right: 35px;
}

.tm-timeline-item-title {
    font-size: 1.8rem;
}

.tm-timeline-date {
    color: white;
    font-size: 1.4rem;
}

.tm-section-title {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
}

.tm-banner {
    padding: 0;
}

.tm-banner-inner {
    background-color: #CC6733;
    color: white;
    height: 100%;
    padding: 35px 35px 45px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tm-banner-title {
    font-size: 3.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.tm-banner-subtitle {
    color: #FECB99;
    font-size: 1.4rem;
}

.tm-gallery-container {
    overflow-y: hidden;
}

.grid {
    max-width: 1165px;
    margin: 0 auto;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    margin: 5px;
}

@-moz-document url-prefix() {
    .grid figure {
        margin: 10px 1.1666%;
    }
}

.contact-form {
    overflow: hidden;
}

.form-control {
    border-radius: 0;
    font-size: 1em;
}

.form-control:focus {
    border-color: #CC6733;
    box-shadow: inset 0 1px 1px rgba(230, 141, 95, .075), 0 0 8px rgba(230, 141, 95, 0.58);
}

.form-group {
    margin-bottom: 20px;
}

.tm-footer {
    color: #666;
    padding-top: 40px;
    padding-bottom: 40px;
}

#google-map {
    height: 360px;
    width: 100%;
}

.tm-content-box-home {
    position: relative;
    margin-bottom: 63px;
}

.tm-content-box {
    margin-top: 60px;
}

.tm-content-box:first-child {
    margin-top: 0;
}

.tm-box-pad {
    padding: 35px 20px;
}

.tm-flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tm-about-text {
    max-width: 575px;
}

.media {
    display: block;
}

.media-body {
    height: auto;
}

.tm-flexbox-ie-fix {
    flex: 1 1 auto;
}

.tm-width-ie-fix {
    width: 100%;
}

address {
    line-height: 2;
}

.tm-media-img-container,
.tm-media-img-container img {
    width: 100%;
}

.grid {
    position: relative;
    margin: -1.5rem auto;
    list-style: none;
    text-align: center;
}

@media (min-width: 524px) {
    @-moz-document url-prefix() {
        .grid figure {
            margin: 8px 1%;
        }
    }
}

@media (min-width: 640px) {
    .media {
        display: flex;
    }
    .tm-media-img-container,
    .tm-media-img-container img {
        width: auto;
    }
    .tm-media-img-container img {
        max-width: 280px;
    }
}

@media (min-width: 800px) {
    .tm-section-title {
        margin-bottom: 30px;
    }
    .tm-box-pad {
        padding: 45px 40px;
    }
    @-moz-document url-prefix() {
        .grid figure {
            margin: 10px 1.1666%;
        }
    }
}

@media (min-width: 992px) {
    .container-fluid {
        max-width: 992px;
    }
    .tm-sidebar {
        float: left;
        width: 260px;
    }
    .tm-sidebar.sticky {
        position: fixed;
        top: 20px;
    }
    .tm-main-content {
        margin-left: 290px;
    }
    .tm-box-pad {
        padding: 30px;
    }
    .grid {
        margin: -1.5rem auto -1.5rem 0;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1200px;
    }
    .tm-sidebar {
        width: 340px;
    }
    .tm-nav-item-link {
        padding: 12px;
    }
    .tm-main-content {
        margin-left: 370px;
    }
    .tm-section-title {
        margin-bottom: 20px;
    }
    .tm-box-pad {
        padding: 45px;
    }
}

@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1605px;
    }
    .tm-sidebar {
        width: 360px;
    }
    .media-body {
        height: 348px;
    }
    .tm-main-content {
        margin-left: 415px;
    }
    .tm-section-title {
        margin-bottom: 30px;
    }
}

.tm-main-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 40px;
}

@media screen and (max-width: 564px) {
    .tm-banner-title {
        font-size: 2.8em;
    }
}

.tm-gallery-container img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    max-height: 200px;
}